@charset "utf-8";
/* 내용물 */
.section--wrap{padding-top: 100px; margin: auto; width: 1200px; height: 1300px; text-align: center; color: #464646;}
.h1{font-family: 'SBAggroB';}

/* main-slider slick-slider prev,next */
.main-slide .slick-prev,
.main-slide .slick-next {
	position: absolute;
	line-height: 0;
	top: 50%;
	width: 100px;
	height: 100px;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	border-radius: 50px;
	background: transparent;
}

.main-slide .slick-slider {
	user-select: none;
}

.main-slide .slick-next {
	right: -100px;
	z-index: 50;
}

.main-slide .slick-prev {
	left: -100px;
	z-index: 100;
}

.main-slide .slick-next:before {
	background: url(../images/next_btn.png) no-repeat center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	text-align: center;
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
}

.main-slide .slick-prev:before {
	background: url(../images/prev_btn.png) no-repeat 5px center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	margin-left: 25px;
	/*color: white; */
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
	text-align: center;

}

/* 뱃지 */

.badges {
	position: fixed;
	top: 450px;
	right: 50px;
	z-index: 50;
	cursor: pointer;
}
.badges div {margin: 10px;}



/* new product */
.new-product{height: 450px;margin:50px;}
.new-product h1{font-size: 40px;margin-bottom: 50px;}
.new-product .new-goods > div{padding:50px;}
.new-product .new-goods div img{width: 320px;height: 320px;}



.new-goods .slick-prev,
.new-goods .slick-next {
	position: absolute;
	line-height: 0;
	top: 50%;
	width: 100px;
	height: 100px;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	border-radius: 50px;
	background: transparent;
}

.new-goods .slick-slider {
	user-select: none;
}

.new-goods .slick-next {
	right: -80px;
	z-index: 50;
}

.new-goods .slick-prev {
	left: -110px;
	z-index: 100;
}

.new-goods .slick-next:before {
	background: url(../images/slide_button_r.png) no-repeat center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	text-align: center;
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
}

.new-goods .slick-prev:before {
	background: url(../images/slide_button_l.png) no-repeat 5px center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	margin-left: 25px;
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
	text-align: center;
}
/* banner */
.banner{width: 100%;height: 366px;background-repeat: no-repeat; background-position: center;padding: 0;}

/* artist */
.artist h1{font-size: 40px;margin-bottom: 50px;}
.artist-slide .slick-prev,
.artist-slide .slick-next {
	position: absolute;
	line-height: 0;
	top: 50%;
	width: 100px;
	height: 100px;
	display: block;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	border-radius: 50px;
	background: transparent;
}

.artist-slide .slick-slider {
	user-select: none;
}

.artist-slide .slick-next {
	right: -80px;
	z-index: 50;
}

.artist-slide  .slick-prev {
	left: -110px;
	z-index: 100;
}

.artist-slide  .slick-next:before {
	background: url(../images/slide_button_r.png) no-repeat center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	text-align: center;
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
}

.artist-slide  .slick-prev:before {
	background: url(../images/slide_button_l.png) no-repeat 5px center;
	content: '';
	font-size: 1.2em;
	font-weight: 1000;
	padding-left: 20px;
	margin-left: 25px;
	background-size: contain;
	display: block;
	width: 70px;height: 70px; 
	text-align: center;
}
/* 엔하이픈 굿즈 */
.artist .artist-slide .en .en-goods{}
.artist .artist-slide .en .en-goods > li > a >img{width: 260px; height: 260px;}
